
@font-face {
    font-family:FONT1 ;
    src: url(../Fonts/English/DancingScript/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: FONT2;
    src: url(../topfonts/Starjedi.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color:#E3E6E6;
    scroll-behavior: smooth;
}

.card{
    margin-top: 20px;
    font-family: FONT2;
}
.discord-nav:hover{
    color:#7289da;
    background-color: ghostwhite;
    border: #7289da 2px solid;
}
.discord-nav{
    width: 35px;
    height: 35px;
    border: ghostwhite 2px solid;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    background-color: #7289da ;
    color: ghostwhite;
    text-decoration: none;
    font-size: 21px;
    
}
a.nav-link:hover{
    background-color:ghostwhite;
    color: #212529;
}
a.nav-link{
    color: ghostwhite;
    font-family: FONT2;
    border-radius: 5px ;
}
div.card-body{
    color:midnightblue;
    
}
div.navbar-brand{
    font-family:FONT1 ;
}


.card-tite{
    color:rgb(0, 0, 0);
}
@font-face {
    font-family: 'roman';
    src: url("../fonts/Roman\ SD.ttf");
}
.Title-Font{
    font-family: 'roman';

}
.bottom{
    z-index: 5;

}
.col-links{
    font-size: 23px;
    font-family:FONT1 ;
    /* text-decoration: none; */
}
.black-hover:hover{
    color: black;
}
.toast{
    box-shadow: 20px -21px 102px 0px rgba(0, 0, 0, 0.158);
-webkit-box-shadow: 20px -21px 102px 0px rgba(0, 0, 0, 0.158);
-moz-box-shadow: 20px -21px 102px 0px rgba(0, 0, 0, 0.158);
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 
 .boo:hover{
    transform: scale(1.5) ;
-webkit-transform: scale(1.5) ;
-moz-transform: scale(1.5) ;

 }
 .boo{
    transition: transform 1s;
 }
 .zoom{
    transition: transform 2s;
 }
 .zoom:hover{
    transform: scale(1.10) ;
    -webkit-transform: scale(1.10) ;
    -moz-transform: scale(1.10) ;
 }
 * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
  }
  .PAIN{
    max-width: 800px;
    margin-bottom: 50px;
    margin: 0 auto;
  }
  
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }
  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }
